
@font-face {
  font-family: "Coolvetica";
  src: "src/fonts/coolvetica.ttf";
}

:root {
  --md-primary-fg-color: #ff4900;
  --md-text-font: "Coolvetica";
}

[data-md-color-scheme="light"] {
  --md-primary-fg-color:        #ff4900;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color:        #ff4900;
}