@font-face {
  src: url("../fonts/coolvetica.ttf");
  font-weight: normal;
  font-style: normal;
  font-family: Coolvetica;
}

:root {
  --md-primary-fg-color: #ff4900;
  --md-text-font: "Coolvetica";
}

[data-md-color-scheme="light"] {
  --md-primary-fg-color:        #ff4900;
  font-family: var(--md-text-font);
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color:        #ff4900;
  font-family: var(--md-text-font);
}